*{
    margin:0;
    padding: 0;
}

.Card{
    background-color: #212121;
    height: 50%;
    width: 50%;
    margin: 0 25%;
    border-radius: 10px;
    overflow: hidden;
}

.Img-Profile{
    position:relative ;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 400px;
}